.product-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.product {
    width: 200px;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    border-radius: 8px;
}

.product img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f2f4f8;
}
/* style.css */

body {
    background-color: #f2f4f8;
    font-family: Arial, sans-serif;
}

h1 {
    color: #0b3c5d;
    text-align: center;
}

p {
    color: #333;
    font-size: 18px;
}

/* Header */
header {
    background-color: #0b3c5d;
    color: white;
    padding: 20px;
    text-align: center;
}

/* Navigation */
nav {
    background-color: #145374;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    color: yellow;
}

/* Hero Section */
.hero {
    padding: 40px;
    text-align: center;
    background-color: white;
}

/* Cards */
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 30px;
}

.card {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    text-align: center;
}

/* Footer */
footer {
    background-color: #0b3c5d;
    color: white;
    text-align: center;
    padding: 10px;
}


/* Product Section */
.courses {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    padding: 30px;
}

.Product-card {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    text-align: left;
}

.Product-card h3 {
    color: #0b3c5d;
    margin-bottom: 10px;
}


/* Product Page */
.contact-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    padding: 40px;
}

.contact-info {
    background-color: white;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.contact-form {
    background-color: white;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.contact-form label {
    display: grid;
    margin-top: 10px;
    font-weight: bold;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contact-form button {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #0b3c5d;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #145374;
}


