body {
  font-family: Arial;
}

.product-list {
  display: flex;
  gap: 20px;
}
.product-list {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.card {
  border: 1px solid #ccc;
  padding: 10px;
  width: 150px;
  text-align: center;
}

.cart {
  margin-top: 30px;
  border-top: 2px solid black;
  padding-top: 10px;
}

button {
  margin-top: 5px;
}
